



body {
    max-width: 1280px;
    margin: 0;
    font-family: "Karma";
    font-size: 20px;        
}

header {

    text-align: center;
}


h2 {

  text-align: center;
  font-size: 35px;
  font-style: bold;
}

.kursivp p {

  font-style: italic;
}

.normalp p {

  font-style: normal;
}

header img.banner {
    width: 100vw;
    position: absolute;
}


.Navigationsleiste ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.locations {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  position: sticky;
  top: 0;
  width: 100%;
}


.Familien p {
text-align: center;
}

.RaftingInnsbruck p {
  text-align: center;
  }

  .Stubaital p {
    text-align: center;
    }





    /* Flipbox w3 */

    .flip-box {
      background-color: transparent;
/*      width: 300px;
      height: 200px; */
      border: 1px solid #f1f1f1;
      /* perspective: 1000px; */
      position: sticky;
    }
    
    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }
    
    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-box-front {
      background-color: #bbb;
      color: black;
    }
    
    .flip-box-back {
      background-color: #555;
      color: black;
      transform: rotateY(180deg);
    }


    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: white;
      text-align: center;
      font-size: 15px;
    }